obj
bin
packages
publish/
output/
node_modules/
TestResults/
v15/
.vs/
*.suo
*.csproj.user
*.dcproj.user
*.pubxml.user
*.StyleCopAnalysis.xml
*.FxCopAnalysis.xml
*.lastcodeanalysissucceeded
build/tools/
StyleCop.Cache
package-lock.json